a2c_unemp_tensorboard/*
*.h5
dynamic_prog_V.h5
old/*
saved/*
results/*
.ipynb_checkpoints/*
__pycache__/*
lifecycle_rl/__pycache__/*
lifecycle_rl.egg-info/*
*.pyc
tmp/*
v2/tmp/*
v2/.ipynb_checkpoints/*
v2/saved/*
v2/results/*
paperin tulokset/results/*
paperin tulokset/best/*
tests/*
perustulo/results/*
perustulo/best/*
perustulo/tmp/*
*.eps
best/*
v2/best/*
v2/*.eps
best/toe12/*
*.zip
